<div class="d-flex flex-row bd-highlight mb-9">
    <div class="p-2 w-100 bd-highlight">
  
      <div class="input-group mb-12">
        <div class="input-group mb-4">
            <span class="input-group-text">Name</span>
            <input type="text" class="form-control" [(ngModel)]="Client_Name" required>
        </div>
        <div class="input-group mb-4">
            <span class="input-group-text">CPF</span>
            <input type="text" class="form-control" [(ngModel)]="Client_CPF" inputmode="numeric" mask="000.000.000-00" required>
        </div>
        <div class="input-group mb-4">
            <span class="input-group-text">Gender</span>
            <input type="text" class="form-control" [(ngModel)]="Client_Gender" required>
        </div>
        <div class="input-group mb-4">
            <span class="input-group-text">Phone Number</span>
            <input type="text" class="form-control" [(ngModel)]="Client_Phone_Number"  mask="(00) 00000-0000" prefix="+55 " type="tel" required>
        </div>
        <div class="input-group mb-4">
            <span class="input-group-text">Email</span>
            <input type="email" class="form-control" [(ngModel)]="Client_Email" maxlength="50" required >
        </div>
        <div class="input-group mb-4">
            <span class="input-group-text">Birth Date</span>
            <input type="text" class="form-control" [(ngModel)]="Client_Birth_Date"  inputmode="numeric" mask="00/00/0000" required>
        </div>
         <div class="input-group mb-4">
            <span class="input-group-text">Observation</span>
            <input type="text" class="form-control" [(ngModel)]="Client_Observation">
        </div>
      </div>
    </div>
  </div>
  <button (click)="addClient()" *ngIf="client.Client_Id == '0'" class="btn btn-primary">
    Send
  </button>
  
  <button (click)="updateClient()" *ngIf="client.Client_Id !='0'" class="btn btn-primary" >
    Update
  </button>
