<div class="d-flex flex-row bd-highlight mb-9">
    <div class="p-2 w-100 bd-highlight">
  
      <div class="input-group mb-12">
        <div class="input-group mb-4">
            <span class="input-group-text" *ngIf="client.Id == '0'" disabled="false">Name</span>
            <span class="input-group-text" *ngIf="client.Id == '1'" disabled="true">Name</span>
            <input type="text" class="form-control" [(ngModel)]="Name" *ngIf="client.Id == '0'" disabled="false"  required>
            <input type="text" class="form-control" [(ngModel)]="Name" *ngIf="client.Id == '1'" disabled="true" required>
        </div>
        <div class="input-group mb-4">
            <span class="input-group-text" *ngIf="client.Id == '0'"disabled="false">CPF</span>
            <span class="input-group-text" *ngIf="client.Id == '1'" disabled="true">CPF</span>
            <input type="text" class="form-control" [(ngModel)]="CPF" inputmode="numeric" mask="000.000.000-00" *ngIf="client.Id == '0'"  disabled="false" required>
            <input type="text" class="form-control" [(ngModel)]="CPF" inputmode="numeric" mask="000.000.000-00" *ngIf="client.Id == '1'" disabled="true" required>
        </div>
        <div class="input-group mb-4">
            <span class="input-group-text" *ngIf="client.Id == '0'" disabled="false">Gender</span>
            <span class="input-group-text" *ngIf="client.Id == '1'" disabled="true">Gender</span>
            <input type="text" class="form-control" [(ngModel)]="Gender" *ngIf="client.Id == '0'"  disabled="false" required>
            <input type="text" class="form-control" [(ngModel)]="Gender" *ngIf="client.Id == '1'"  disabled="true" required>
        </div>
        <div class="input-group mb-4">
            <span class="input-group-text">Phone Number</span>
            <input type="text" class="form-control" [(ngModel)]="PhoneNumber"  mask="(00) 00000-0000" prefix="+55 " type="tel" required>
        </div>
        <div class="input-group mb-4">
            <span class="input-group-text">Email</span>
            <input type="email" class="form-control" [(ngModel)]="Email" maxlength="50" required >
        </div>
        <div class="input-group mb-4">
            <span class="input-group-text" *ngIf="client.Id == '0'" disabled="false">Birth Date</span>
            <span class="input-group-text" *ngIf="client.Id == '1'" disabled="true">Birth Date</span>
            <input type="text" class="form-control" [(ngModel)]="BirthDate"  inputmode="numeric" mask="00/00/0000" *ngIf="client.Id == '0'"  disabled="false" required>
            <input type="text" class="form-control" [(ngModel)]="BirthDate"  inputmode="numeric" mask="00/00/0000" *ngIf="client.Id == '1'"  disabled="true" required>
        </div>
         <div class="input-group mb-4">
            <span class="input-group-text">Observation</span>
            <input type="text" class="form-control" [(ngModel)]="Observation">
        </div>
      </div>
    </div>
  </div>
  <button (click)="addClient()" *ngIf="client.Id == '0'" class="btn btn-primary">
    Send
  </button>
  
  <button (click)="updateClient()" *ngIf="client.Id !='0'" class="btn btn-primary" >
    Update
  </button>
